{% extends 'base.html.twig' %}

{% block title %}Bank index{% endblock %}

{% block body %}
    <h1>Bank index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Balance</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bank in banks %}
            <tr>
                <td>{{ bank.id }}</td>
                <td>{{ bank.name }}</td>
                <td>{{ bank.balance }}</td>
                <td>
                    <a href="{{ path('bank_show', {'id': bank.id}) }}">show</a>
                    <a href="{{ path('bank_edit', {'id': bank.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('bank_new') }}">Create new</a>
{% endblock %}
